
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: rgb(0, 0, 0);
    width: 38%;
    margin: auto;

}



#img1 {
    position: fixed;
    top: -10 ;
    left: 50px ;
}

h1 img {
     width: 100px
}
    
h1 {
    color: #f70909;
    background-color: rgb(65, 61, 61);
      
}
    nav{
        background-color: rgb(189, 29, 29);
        margin left: -25;
    }
nav a:hover{
    background-color: #020000;
}



h2 {
    color: #ffffff;


}
img {
    max-width: 150%;
    height: auto;
    margin-left: -25%;
  }

a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}


aside h1{
    background-color:rgb(56, 56, 54) ;
    padding: 10px;
    border-width:2px ;
    border-color:  darkred;
    margin: 20px;

}

p{
    color: #ffffff;
    font size: 20px;


}

